In [165]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns
from matplotlib.backends.backend_pdf import PdfPages
%matplotlib inline
%config IPCompleter.greedy=True
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 100)


df = pd.read_csv('output.csv')

In [166]:
df.head(5)

,index,address,free_bikes,free_stands,banking,capacity,bonus,city,time_1,loc,id,coord,status,time_2
0,0,Smithfield North,30,0,True,30,False,Dublin,1.522920e+12,SMITHFIELD NORTH,42,"{'lat': 53.349562, 'lng': -6.278198}",OPEN,2.018040e+13
1,1,Parnell Square North,7,13,True,20,False,Dublin,1.522920e+12,PARNELL SQUARE NORTH,30,"{'lat': 53.353462, 'lng': -6.265305}",OPEN,2.018040e+13
2,2,Clonmel Street,33,0,False,33,False,Dublin,1.522920e+12,CLONMEL STREET,54,"{'lat': 53.336021, 'lng': -6.26298}",OPEN,2.018040e+13
3,3,Mount Street Lower,6,34,False,40,False,Dublin,1.522920e+12,MOUNT STREET LOWER,56,"{'lat': 53.33796, 'lng': -6.24153}",OPEN,2.018040e+13
4,4,Christchurch Place,17,2,False,20,False,Dublin,1.522920e+12,CHRISTCHURCH PLACE,6,"{'lat': 53.343368, 'lng': -6.27012}",OPEN,2.018040e+13

In [167]:
df.drop('bonus', axis=1, inplace=True)
df.drop('city', axis=1, inplace=True)
df.drop('loc', axis=1, inplace=True)
df.drop('banking', axis=1, inplace=True)
df.drop('coord', axis=1, inplace=True)
df.drop('status', axis=1, inplace=True)
df.drop('time_2', axis=1, inplace=True)
df.drop('id', axis=1, inplace=True)
df.drop('index', axis=1, inplace=True)

In [168]:
df.dtypes

index            int64
address         object
free_bikes       int64
free_stands      int64
capacity         int64
time_1         float64
id               int64
dtype: object

In [170]:
df['time_1'] = df['time_1'].astype('int64')

In [171]:
df['time_1']=(pd.to_datetime(df['time_1'],unit='ms'))

In [172]:
df.dtypes

index                   int64
address                object
free_bikes              int64
free_stands             int64
capacity                int64
time_1         datetime64[ns]
id                      int64
dtype: object

In [173]:
df.head(5)

,index,address,free_bikes,free_stands,capacity,time_1,id
0,0,Smithfield North,30,0,30,2018-04-05 09:20:00,42
1,1,Parnell Square North,7,13,20,2018-04-05 09:20:00,30
2,2,Clonmel Street,33,0,33,2018-04-05 09:20:00,54
3,3,Mount Street Lower,6,34,40,2018-04-05 09:20:00,56
4,4,Christchurch Place,17,2,20,2018-04-05 09:20:00,6

In [ ]:
df['YearMonth'] = df['time_1'].map(lambda x: 100*x.year + x.month)
df['Date'] = df['time_1'].apply(lambda x: x.date()) 

#df['time_1'] = pd.to_datetime(df['date']).apply(lambda x: x.date())

In [ ]:
#df.groupby([df.time_1.dt.weekofyear, df.time_1.dt.hour]).mean()

In [ ]:
df.head(5)

In [ ]:
#df['time_1'] = pd.to_datetime(df['time_1']).apply(lambda x: x.date()) 
df.describe()

In [ ]:
#df.reset_index(inplace=True)
# helper columns with date, hour and dow
df['date'] = df['time_1'].dt.date
df['hour'] = df['time_1'].dt.hour
df['dow'] = df['time_1'].dt.dayofweek
# sum of counts for all combinations
df = df.groupby(['address', 'date', 'dow', 'hour']).sum()
# take the mean over all dates
df = df.reset_index().groupby(['address', 'dow', 'hour']).mean()

In [ ]:
#df['dow'] = df['dow'].astype('int64')
df.loc[(df['time_1']['dow'] == 0) & (df['hour'].isin(8-9)) & (df['address'] == "Benson Street")]